<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Sintracolpen</title>
        <meta name="description" content="">
        <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700,900,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,400italic,600italic,700italic,600,800,300,700,800italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
        
        <!-- Styles -->
        <link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/revslider/revslider-index11.css">
        <link rel="stylesheet" id="color-scheme" href="css/colors/green.css">
        
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="img/favicon.ico">
        <script src="js/modernizr.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/queryloader2.min.js"></script>
    </head>

    <body>
        <div class="boss-loader-overlay"></div>
        <div id="wrapper" class="bg-gray">
            <header id="header" role="banner">
                <nav class="navbar navbar-default animated-dropdown btt-dropdown" role="navigation">
                    <div class="navbar-top navbar-color clearfix">
                        <div class="container">
                            <div class="pull-right">
                               <div class="social-icons pull-right hidden-xs">
                                    <a href="https://twitter.com/sintracolpen1?lang=es" target="_blank" class="social-icon icon-twitter" title="Twitter">
                                        <i class="fa fa-twitter sizeIcons-header"></i>
                                    </a>
                                    <a href="https://www.instagram.com/sintracolpen/?hl=es" target="_blank" class="social-icon icon-instagram" title="Instagram">
                                        <i class="fa fa-instagram sizeIcons-header"></i>
                                    </a>
                                    <a href="https://www.youtube.com/channel/UCca6tePo-yD1tmmoQYJTn1g" class="social-icon icon-youtube" target="_blank" title="Youtube">
                                        <i class="fa fa-youtube-play sizeIcons-header"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="navbar-inner sticky-menu">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle pull-right collapsed" data-toggle="collapse" data-target="#main-navbar-container">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                </button>

                                <div class="navbar-header">
                                    <a href="inicio.html"><img src="img/logoSintracolpen.png" id="logoHeader" class="pull-left marginLogo"></a>
                                </div>
                            </div>

                            <div class="collapse navbar-collapse marginMenu" id="main-navbar-container">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown active megamenu-container">
                                        <a href="inicio.html">Inicio</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Nosotros<span class="angle"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="dropdown sub-dropdown">
                                                <a href="nosotros.html">Misión - Visión</a>
                                            </li>
                                            <li class="dropdown sub-dropdown">
                                                <a href="nosotros.html">¿Quiénes somos?</a>
                                            </li>
                                            <li class="dropdown sub-dropdown">
                                                <a href="nosotros.html">¿Qué hacemos?</a>
                                            </li>
                                            <li class="dropdown sub-dropdown">
                                                <a href="nosotros.html">Principios Organizacionales</a>
                                            </li>
                                            <li class="dropdown sub-dropdown">
                                                <a href="nosotros.html">Valores Organizacionales</a>
                                            </li>
                                            <li class="dropdown sub-dropdown">
                                                <a href="nosotros.html">Comites, juntas y organismos</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Afiliaciones<span class="angle"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="dropdown sub-dropdown">
                                                <a href="afiliate-ya.html">Afiliate ya!</a>
                                            </li>
                                            <li class="dropdown sub-dropdown">
                                                <a href="nuestros-afiliados.html">Nuestros afiliados</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Contenidos<span class="angle"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="dropdown sub-dropdown">
                                                <a href="boletines-generales.html">Boletines Generales</a>
                                            </li>
                                            <li class="dropdown sub-dropdown">
                                                <a href="comunicados-oficiales.html">Comunicados Oficiales</a>
                                            </li>
                                            <li class="dropdown sub-dropdown">
                                            <li class="dropdown sub-dropdown">
                                                <a href="contenido-sindical.html">Contenido Sindical</a>
                                            </li>
                                            <li class="dropdown sub-dropdown">
                                                <a href="documentos-oficiales.html">Documentos Oficiales</a>
                                            </li>
                                            <li class="dropdown sub-dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Multimedia<span class="angle"></span></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="galeria.html">Galería</a></li>
                                                    <li><a href="videos.html">Vídeos</a></li> 
                                                </ul>
                                            </li>
                                            <li class="dropdown sub-dropdown">
                                                <a href="http://cursosvirtualesintracolpen.com/" target="blank">Capacitaciones</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown megamenu-container">
                                        <a href="preguntas-frecuentes.html">Preguntas</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="contactanos.html">Contáctanos</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>
    
        <div id="content" role="main">
            <div class="page-header dark larger larger-desc no-margin" style="background: #009688; border: none;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Comunicados Oficiales</h1>
                            <p class="page-header-desc">Frase corta que incite a la lectura de cada uno de los comunicados.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb40"></div>

            <div class="container">
                <div class="max-col-3" id="blog-item-container">
                    <article class="entry entry-box wow fadeInUp">
                        <div class="entry-media">
                            <figure>
                                <a href="#" data-toggle="modal" data-target="#verPDF">
                                    <img src="images/blog/post1.jpg" alt="Nombre del boletin">
                                </a>
                            </figure>
                        </div>
                        <div class="entry-content-wrapper">
                            <span class="entry-date">24<span>Feb</span></span>
                            <h2 class="entry-title"><a href="#" data-toggle="modal" data-target="#verPDF">Ipsa quasi praesentium eos officiis nam molestiae facere.</a></h2>
                            <div class="entry-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum condimentum erat, quis imperdiet dolor maximus nec. Etiam felis erat, suscipit in ante ut, tincidunt tempor justo.</p>
                            </div>
                            <footer class="entry-footer clearfix">
                                <span class="entry-cats">
                                    <span class="entry-label"></span>Por <b>Jonathan Velandia</b>
                                </span>
                                <a href="#" class="entry-readmore text-right" data-toggle="modal" data-target="#verPDF">Ver PDF<i class="fa fa-eye"></i></a>
                            </footer>
                        </div>
                    </article>

                    <article class="entry entry-box wow fadeInUp">
                        <div class="entry-media">
                            <figure>
                                <a href="#" data-toggle="modal" data-target="#verPDF">
                                    <img src="images/blog/post1.jpg" alt="Nombre del boletin">
                                </a>
                            </figure>
                        </div>
                        <div class="entry-content-wrapper">
                            <span class="entry-date">24<span>Feb</span></span>
                            <h2 class="entry-title"><a href="#" data-toggle="modal" data-target="#verPDF">Ipsa quasi praesentium eos officiis nam molestiae facere.</a></h2>
                            <div class="entry-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum condimentum erat, quis imperdiet dolor maximus nec. Etiam felis erat, suscipit in ante ut, tincidunt tempor justo.</p>
                            </div>
                            <footer class="entry-footer clearfix">
                                <span class="entry-cats">
                                    <span class="entry-label"></span>Por <b>Jonathan Velandia</b>
                                </span>
                                <a href="#" class="entry-readmore text-right" data-toggle="modal" data-target="#verPDF">Ver PDF<i class="fa fa-eye"></i></a>
                            </footer>
                        </div>
                    </article>

                    <article class="entry entry-box wow fadeInUp">
                        <div class="entry-media">
                            <figure>
                                <a href="#" data-toggle="modal" data-target="#verPDF">
                                    <img src="images/blog/post1.jpg" alt="Nombre del boletin">
                                </a>
                            </figure>
                        </div>
                        <div class="entry-content-wrapper">
                            <span class="entry-date">24<span>Feb</span></span>
                            <h2 class="entry-title"><a href="#" data-toggle="modal" data-target="#verPDF">Ipsa quasi praesentium eos officiis nam molestiae facere.</a></h2>
                            <div class="entry-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum condimentum erat, quis imperdiet dolor maximus nec. Etiam felis erat, suscipit in ante ut, tincidunt tempor justo.</p>
                            </div>
                            <footer class="entry-footer clearfix">
                                <span class="entry-cats">
                                    <span class="entry-label"></span>Por <b>Jonathan Velandia</b>
                                </span>
                                <a href="#" class="entry-readmore text-right" data-toggle="modal" data-target="#verPDF">Ver PDF<i class="fa fa-eye"></i></a>
                            </footer>
                        </div>
                    </article>

                    <article class="entry entry-box wow fadeInUp">
                        <div class="entry-media">
                            <figure>
                                <a href="#" data-toggle="modal" data-target="#verPDF">
                                    <img src="images/blog/post1.jpg" alt="Nombre del boletin">
                                </a>
                            </figure>
                        </div>
                        <div class="entry-content-wrapper">
                            <span class="entry-date">24<span>Feb</span></span>
                            <h2 class="entry-title"><a href="#" data-toggle="modal" data-target="#verPDF">Ipsa quasi praesentium eos officiis nam molestiae facere.</a></h2>
                            <div class="entry-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum condimentum erat, quis imperdiet dolor maximus nec. Etiam felis erat, suscipit in ante ut, tincidunt tempor justo.</p>
                            </div>
                            <footer class="entry-footer clearfix">
                                <span class="entry-cats">
                                    <span class="entry-label"></span>Por <b>Jonathan Velandia</b>
                                </span>
                                <a href="#" class="entry-readmore text-right" data-toggle="modal" data-target="#verPDF">Ver PDF<i class="fa fa-eye"></i></a>
                            </footer>
                        </div>
                    </article>

                    <article class="entry entry-box wow fadeInUp">
                        <div class="entry-media">
                            <figure>
                                <a href="#" data-toggle="modal" data-target="#verPDF">
                                    <img src="images/blog/post1.jpg" alt="Nombre del boletin">
                                </a>
                            </figure>
                        </div>
                        <div class="entry-content-wrapper">
                            <span class="entry-date">24<span>Feb</span></span>
                            <h2 class="entry-title"><a href="#" data-toggle="modal" data-target="#verPDF">Ipsa quasi praesentium eos officiis nam molestiae facere.</a></h2>
                            <div class="entry-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum condimentum erat, quis imperdiet dolor maximus nec. Etiam felis erat, suscipit in ante ut, tincidunt tempor justo.</p>
                            </div>
                            <footer class="entry-footer clearfix">
                                <span class="entry-cats">
                                    <span class="entry-label"></span>Por <b>Jonathan Velandia</b>
                                </span>
                                <a href="#" class="entry-readmore text-right" data-toggle="modal" data-target="#verPDF">Ver PDF<i class="fa fa-eye"></i></a>
                            </footer>
                        </div>
                    </article>

                    <article class="entry entry-box wow fadeInUp">
                        <div class="entry-media">
                            <figure>
                                <a href="#" data-toggle="modal" data-target="#verPDF">
                                    <img src="images/blog/post1.jpg" alt="Nombre del boletin">
                                </a>
                            </figure>
                        </div>
                        <div class="entry-content-wrapper">
                            <span class="entry-date">24<span>Feb</span></span>
                            <h2 class="entry-title"><a href="#" data-toggle="modal" data-target="#verPDF">Ipsa quasi praesentium eos officiis nam molestiae facere.</a></h2>
                            <div class="entry-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec interdum condimentum erat, quis imperdiet dolor maximus nec. Etiam felis erat, suscipit in ante ut, tincidunt tempor justo.</p>
                            </div>
                            <footer class="entry-footer clearfix">
                                <span class="entry-cats">
                                    <span class="entry-label"></span>Por <b>Jonathan Velandia</b>
                                </span>
                                <a href="#" class="entry-readmore text-right" data-toggle="modal" data-target="#verPDF">Ver PDF<i class="fa fa-eye"></i></a>
                            </footer>
                        </div>
                    </article>
                </div>
            </div>

            <div class="sm-margin"></div>

            <div class="container">
                <nav class="pagination-container text-right">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
                            </a>
                        </li>
                        <li  class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="mb50"></div>

            <div class="container">
                <h2 class="title-underblock dark mb30">Enlaces de interés</h2>
                <div class="team-member-carousel owl-carousel nav-border nav-higher">
                    <a href="https://www.colpensiones.gov.co/" target="_blank" title="Colpensiones - Ven por tu futuro ya">
                        <img src="img/aliados/logoColpensiones.jpg" style="width: 80%">
                    </a>
                    <a href="https://cut.org.co/" target="_blank" title="Central Colombiana de Trabajadores - Colombia">
                        <img src="img/aliados/logoCUT-Colombia.jpg" style="width: 80%;">
                    </a>
                    <a href="http://www.mintrabajo.gov.co/web/guest/inicio" target="_blank" title="Mintrabajo - Paz, Equidad, Educación">
                        <img src="img/aliados/LogoMintrabajo.jpg" style="width: 80%;">
                    </a>
                    <a href="https://www.procuraduria.gov.co/portal/" target="_blank" title="Procuraduría General de la Nación">
                        <img src="img/aliados/logoProcuraduria.jpg" style="width: 80%;">
                    </a>
                    <a href="http://cutbogota.org/" target="_blank" title="Central Colombia de Trabajadores - Bogotá">
                        <img src="img/aliados/logoCUT-Bogota.jpg" style="width: 80%">
                    </a>
                    <a href="http://www.ilo.org/global/lang--es/index.htm" target="_blank" title="Organización Internacional del Trabajo">
                        <img src="img/aliados/logoOIT.jpg" style="width: 80%;">
                    </a>
                    <a href="http://www.ens.org.co/" target="_blank" title="Escuela Nacional Sindical">
                        <img src="img/aliados/logoENS.jpg" style="width: 80%;">
                    </a>
                </div>
            </div>
            <div class="mb40 mb30-xs"></div>
        </div>

        <footer id="footer" role="contentinfo">
            <div id="footer-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="widget">
                                <div class="corporate-widget">
                                    <a href=""><img src="img/logoSintracolpen.png"></a><br><br>
                                    <p><i>Sindicato de Trabajadores de la Administradora Colombiana de Pensiones - SINTRACOLPEN.</i></p>

                                    <address>
                                        <strong>Domicilio Principal: </strong>Calle 4 No. 9-43 <br> Zipaquirá - Cundinamarca<br> 
                                        <strong>Oficina: </strong> 403<br><br>
                                        <strong>Notificaciones: </strong>Carrera 20C No. 72-13 <br> Barrio San Felipe-Bogotá<br>
                                        <strong>Oficina: </strong>207<br><br>
                                        <strong>Correo: </strong> <a href="mailto:sintracolpen@gmail.com">sintracolpen@gmail.com</a><br>
                                        <strong>Teléfono: </strong>3099131
                                    </address>
                                    
                                    <span class="social-icons-label">Síguenos en...</span>
                                    <div class="social-icons">
                                        <a href="https://twitter.com/sintracolpen1?lang=es" target="_blank" class="social-icon icon-twitter" title="Twitter">
                                            <i class="fa fa-twitter sizeIcons-footer" ></i>
                                        </a>
                                        <a href="https://www.instagram.com/sintracolpen/?hl=es" target="_blank" class="social-icon icon-instagram" title="Instagram">
                                            <i class="fa fa-instagram sizeIcons-footer"></i>
                                        </a>
                                        <a href="https://www.youtube.com/channel/UCca6tePo-yD1tmmoQYJTn1g" target="_blank" class="social-icon icon-youtube" title="Youtube">
                                            <i class="fa fa-youtube-play sizeIcons-footer"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="widget">
                                <h4>Boletines Generales</h4>
                                <ul class="latest-posts-list">
                                    <li class="clearfix">
                                        <figure><img src="images/blog/thumbnails/post1.jpg" alt="Nombre del boletin"></figure>
                                        <div class="entry-content">
                                            <h5><a href="#">Lorem ipsum dolor sit amet sine butou.</a></h5>
                                            <p>17/01/2015 - Por <a href="#">Bryan Eon</a></p>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <figure><img src="images/blog/thumbnails/post1.jpg" alt="Nombre del boletin"></figure>
                                        <div class="entry-content">
                                            <h5><a href="#">Quo commodi quidem saepe quos.</a></h5>
                                            <p>12/01/2015 - Por <a href="#">Bryan Eon</a></p>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <figure><img src="images/blog/thumbnails/post1.jpg" alt="Nombre del boletin"></figure>
                                        <div class="entry-content">
                                            <h5><a href="#">Ducimus volupta tibus, alias.</a></h5>
                                            <p>07/01/2015 - Por <a href="#">Bryan Eon</a></p>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <figure><img src="images/blog/thumbnails/post1.jpg" alt="Nombre del boletin"></figure>
                                        <div class="entry-content">
                                            <h5><a href="#">Lorem dolor sit amet vinche mae testai.</a></h5>
                                            <p>01/01/2015 - Por <a href="#">Bryan John</a></p>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <figure><img src="images/blog/thumbnails/post1.jpg" alt="Nombre del boletin"></figure>
                                        <div class="entry-content">
                                            <h5><a href="#">Lorem dolor sit amet vinche mae testai.</a></h5>
                                            <p>01/01/2015 - Por <a href="#">Bryan John</a></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="widget">
                                <a class="twitter-timeline" href="https://twitter.com/Sintracolpen1?ref_src=twsrc%5Etfw" height="450" data-chrome="nofooter">Tweets por Sintracolpen</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6">
                            <ul class="footer-menu">
                                <li><a href="inicio.html">Inicio</a></li>
                                <li><a href="nosotros.html">Nosotros</a></li>
                                <li><a href="afiliate-ya.html">Afiliaciones</a></li>
                                <li><a href="contenidos.html">Contenidos</a></li>
                                <li><a href="preguntas-frecuentes.html">Preguntas</a></li>
                                <li><a href="contactanos.html">Contáctanos</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-md-pull-6">
                            <p class="copyright">
                                <b>Sintracolpen SAS</b><br>
                                &copy; Todos los derechos reservados.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <a href="#top" id="scroll-top" title="Back to Top"><i class="fa fa-angle-up"></i></a>

    <!-- Modal pdf -->
    <div id="verPDF" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <iframe src="https://docs.google.com/viewer?url=http://brasilia.cervantes.es/imagenes/file/biblioteca/pdf/carlos_fuentes_aura.pdf&embedded=true" width="600" height="780"></iframe>
            </div>
        </div>
    </div>

    <script src="js/smoothscroll.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.hoverIntent.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/waypoints-sticky.min.js"></script>
    <script src="js/jquery.debouncedresize.js"></script>
    <script src="js/retina.min.js"></script>
    <script src="js/twitter/jquery.tweet.min.js"></script>
    <script src="js/jflickrfeed.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.kwicks.min.js"></script>
    <script src="js/skrollr.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/mediaelement-and-player.min.js"></script>
    <script src="js/main.js"></script>

    <script type="text/javascript">
        window.onscroll = scroll;
        function scroll(){
            if(window.pageYOffset >= 400){
                $( "#logoHeader" ).removeClass( "marginLogo" ).addClass( "marginLogo2" );    
                $( "#main-navbar-container" ).removeClass( "marginMenu" ).addClass( "marginMenu2" );         
            }else{
                $( "#logoHeader" ).removeClass( "marginLogo2" ).addClass( "marginLogo" );
                $( "#main-navbar-container" ).removeClass( "marginMenu2" ).addClass( "marginMenu" ); 
            }
        }
    </script>
    
    </body>
</html>


