<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Sintracolpen</title>
        <meta name="description" content="">
        <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700,900,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,400italic,600italic,700italic,600,800,300,700,800italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
        
        <!-- Styles -->
        <link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/revslider/revslider-index11.css">
        <link rel="stylesheet" id="color-scheme" href="css/colors/green.css">
        
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="img/favicon.ico">
        <script src="js/modernizr.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/queryloader2.min.js"></script>
    </head>

    <body>
        <div class="boss-loader-overlay"></div>
        <div id="wrapper" class="bg-gray">
            <header id="header" role="banner">
                <nav class="navbar navbar-default animated-dropdown btt-dropdown" role="navigation">
                    <div class="navbar-top navbar-color clearfix">
                        <div class="container">
                            <div class="pull-right">
                               <div class="social-icons pull-right hidden-xs">
                                    <a href="https://twitter.com/sintracolpen1?lang=es" target="_blank" class="social-icon icon-twitter" title="Twitter">
                                        <i class="fa fa-twitter sizeIcons-header"></i>
                                    </a>
                                    <a href="https://www.instagram.com/sintracolpen/?hl=es" target="_blank" class="social-icon icon-instagram" title="Instagram">
                                        <i class="fa fa-instagram sizeIcons-header"></i>
                                    </a>
                                    <a href="https://www.youtube.com/channel/UCca6tePo-yD1tmmoQYJTn1g" class="social-icon icon-youtube" target="_blank" title="Youtube">
                                        <i class="fa fa-youtube-play sizeIcons-header"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="navbar-inner sticky-menu">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle pull-right collapsed" data-toggle="collapse" data-target="#main-navbar-container">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                </button>

                                <div class="navbar-header">
                                    <a href="inicio.html"><img src="img/logoSintracolpen.png" id="logoHeader" class="pull-left marginLogo"></a>
                                </div>
                            </div>

                            <div class="collapse navbar-collapse marginMenu" id="main-navbar-container">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown active megamenu-container">
                                        <a href="inicio.html">Inicio</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Nosotros<span class="angle"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="dropdown sub-dropdown">
                                                <a href="nosotros.html">Misión - Visión</a>
                                            </li>
                                            <li class="dropdown sub-dropdown">
                                                <a href="nosotros.html">¿Quiénes somos?</a>
                                            </li>
                                            <li class="dropdown sub-dropdown">
                                                <a href="nosotros.html">¿Qué hacemos?</a>
                                            </li>
                                            <li class="dropdown sub-dropdown">
                                                <a href="nosotros.html">Principios Organizacionales</a>
                                            </li>
                                            <li class="dropdown sub-dropdown">
                                                <a href="nosotros.html">Valores Organizacionales</a>
                                            </li>
                                            <li class="dropdown sub-dropdown">
                                                <a href="nosotros.html">Comites, juntas y organismos</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Afiliaciones<span class="angle"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="dropdown sub-dropdown">
                                                <a href="afiliate-ya.html">Afiliate ya!</a>
                                            </li>
                                            <li class="dropdown sub-dropdown">
                                                <a href="nuestros-afiliados.html">Nuestros afiliados</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Contenidos<span class="angle"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="dropdown sub-dropdown">
                                                <a href="boletines-generales.html">Boletines Generales</a>
                                            </li>
                                            <li class="dropdown sub-dropdown">
                                                <a href="comunicados-oficiales.html">Comunicados Oficiales</a>
                                            </li>
                                            <li class="dropdown sub-dropdown">
                                            <li class="dropdown sub-dropdown">
                                                <a href="contenido-sindical.html">Contenido Sindical</a>
                                            </li>
                                            <li class="dropdown sub-dropdown">
                                                <a href="documentos-oficiales.html">Documentos Oficiales</a>
                                            </li>
                                            <li class="dropdown sub-dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Multimedia<span class="angle"></span></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="galeria.html">Galería</a></li>
                                                    <li><a href="videos.html">Vídeos</a></li> 
                                                </ul>
                                            </li>
                                            <li class="dropdown sub-dropdown">
                                                <a href="http://cursosvirtualesintracolpen.com/" target="blank">Capacitaciones</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown megamenu-container">
                                        <a href="preguntas-frecuentes.html">Preguntas</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="contactanos.html">Contáctanos</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>

            <div id="content" role="main" class="no-padding">
                <div id="revslider-container">
                    <div id="revslider">
                        <ul>
                            <li data-transition="slideleft" data-slotamount="8" data-masterspeed="800">
                                <img data-lazyload="img/banners/banner-1.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

                                <div class="tp-caption rev-title lfl ltl"
                                    data-x="center"
                                    data-y="220"
                                    data-speed="1000"
                                    data-start="1000"
                                    data-easing="Power3.easeInOut"
                                    data-endspeed="600"
                                    style="z-index: 6">Nuestra organización
                                </div>

                                <div class="tp-caption rev-text text-center lfr ltr"
                                    data-x="center"
                                    data-y="305"
                                    data-speed ="1000"
                                    data-customin="x:0;y:0;z:0;rotationX:-90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                    data-start="1200"
                                    data-easing="Power3.easeInOut"
                                    data-endspeed="700"
                                    style="z-index: 12"><b>En Sintracolpen trabajamos en la  promoción de la dignidad, el respeto, el trabajo decente y el bienestar laboral de los trabajadores.</b>
                                </div>

                                <div class="tp-caption rev-btn lfb ltb"
                                    data-x="center"
                                    data-y="391"
                                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                    data-speed="1000"
                                    data-start="1400"
                                    data-easing="Power3.easeInOut"
                                    data-endspeed="800"
                                    style="z-index: 14">
                                        <a href="javascript:void()" onclick="llamarModal();" class="btn btn-success no-radius min-width">Ingresa aquí y conócenos</a>
                                </div>
                            </li>

                            <li data-transition="slideleft" data-slotamount="8" data-masterspeed="800">
                                <img data-lazyload="img/banners/banner-2.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

                                <div class="tp-caption rev-title customin customout"
                                    data-x="right"
                                    data-hoffset="-50"
                                    data-y="220"
                                    data-speed="1100"
                                    data-customin="x:0;y:0;z:0;rotationX:-90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                    data-start="1300"
                                    data-easing="Power3.easeInOut"
                                    data-endspeed="600"
                                    style="z-index: 6">Afiliate ya!
                                </div>

                                <div class="tp-caption rev-text text-right customin customout"
                                    data-x="right"
                                    data-hoffset="-50"
                                    data-y="305"
                                    data-speed ="1200"
                                    data-customin="x:0;y:0;z:0;rotationX:-90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                    data-start="1600"
                                    data-easing="Power3.easeInOut"
                                    data-endspeed="700"
                                    style="z-index: 12; text-align: right;"><b>Por condiciones dignas de igualdad y crecimiento, <br>afíliate a nuestra organización.</b>
                                </div>

                                <div class="tp-caption rev-btn customin customout"
                                    data-x="right"
                                    data-hoffset="-50"
                                    data-y="391"
                                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                    data-speed="1200"
                                    data-start="2200"
                                    data-easing="Power3.easeInOut"
                                    data-endspeed="800"
                                    style="z-index: 14">
                                        <a href="afiliate-ya.html" class="btn btn-success no-radius min-width">Descargar formulario</a>
                                </div>
                            </li>
                            
                            <li data-transition="slideleft" data-slotamount="8" data-masterspeed="800">
                                <img data-lazyload="img/banners/banner-3.jpeg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

                                <div class="tp-caption rev-title customin customout"
                                    data-x="50"
                                    data-y="220"
                                    data-speed="1100"
                                    data-customin="x:0;y:0;z:0;rotationX:-90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                    data-start="1300"
                                    data-easing="Power3.easeInOut"
                                    data-endspeed="600"
                                    style="z-index: 6">¿En qué vamos?
                                </div>

                                <div class="tp-caption rev-text customin customout"
                                    data-x="50"
                                    data-y="305"
                                    data-speed ="1200"
                                    data-customin="x:0;y:0;z:0;rotationX:-90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                    data-start="1600"
                                    data-easing="Power3.easeInOut"
                                    data-endspeed="700"
                                    style="z-index: 12; text-align: left;"><b>Sintracolpen celebra, participa y reconoce de la mano de nuestro empleador los acuerdos obtenidos.</b>
                                </div>

                                <div class="tp-caption rev-btn customin customout"
                                    data-x="50"
                                    data-y="391"
                                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                    data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                    data-speed="1200"
                                    data-start="2200"
                                    data-easing="Power3.easeInOut"
                                    data-endspeed="800"
                                    style="z-index: 14">
                                        <a href="#" data-toggle="modal" data-target="#verPDF" class="btn btn-success no-radius min-width">Conocelos aquí</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="info-line-section custom">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="service">
                                    <span class="service-icon"><i class="icon-plane"></i></span>
                                    <div class="service-content">
                                        <h3 class="service-title text-uppercase">Free Shipping</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque ipsam soluta</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="service">
                                    <span class="service-icon"><i class="icon-credit-card"></i></span>
                                    <div class="service-content">
                                        <h3 class="service-title text-uppercase">100% Secure Payment</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque ipsam soluta</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="service">
                                    <span class="service-icon"><i class="icon-badge"></i></span>
                                    <div class="service-content">
                                        <h3 class="service-title text-uppercase">Fast Services</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque ipsam soluta</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb50 mb60-xs"></div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <h3 class="title-border custom text-uppercase mb30">More About Us</h3>
                            <p class="ancho">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias velit doloremque eaque ea optio, incidunt, sint maiores omnis, cumque et illum deserunt repellat laudantium, natus iusto architecto aliquid dicta sapiente. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias velit doloremque eaque ea optio, incidunt, sint maiores omnis, cumque et illum deserunt repellat laudantium, natus iusto architecto aliquid dicta sapiente.</p>
                        </div>

                        <div class="mb50-sm visible-xs visible-sm"></div>

                        <div class="col-md-5">
                            <div class="item">
                                <img src="img/galeria/FB_IMG_1508897720617.jpg" class="img-responsive" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="mb65"></div>

                    <div class="row">
                        <div class="col-md-7 col-md-push-5">
                            <h3 class="title-border custom text-uppercase mb30 wow fadeInUp">Videos Informativos</h3>
                            <p class="ancho">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias velit doloremque eaque ea optio, incidunt, sint maiores omnis, cumque et illum deserunt repellat laudantium, natus iusto architecto aliquid dicta sapiente. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias velit doloremque eaque ea optio, incidunt, sint maiores omnis, cumque et illum deserunt repellat laudantium, natus iusto architecto aliquid dicta sapiente.</p>
                        </div>

                        <div class="mb35-sm visible-xs visible-sm"></div>

                        <div class="col-md-5 col-md-pull-7">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="7000">
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <iframe width="100%" height="300" src="https://www.youtube.com/embed/V9kXJzeQFaU" frameborder="0" allowfullscreen></iframe>
                                    </div>

                                    <div class="item">
                                        <iframe width="100%" height="300" src="https://www.youtube.com/embed/V9kXJzeQFaU" frameborder="0" allowfullscreen></iframe>
                                    </div>

                                    <div class="item">
                                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/V9kXJzeQFaU" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb40 hidden-xs"></div>

                <div class="bg-lightergray pt40 pb20">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9">
                                <h2 class="title-underblock custom mb30">Testimonios</h2>
                                <div class="owl-carousel testimonial-slider">
                                    <div class="testimonial">
                                        <figure>
                                            <img src="images/testimonials/dean.jpg" alt="Dean">
                                        </figure>
                                        <div class="testimonial-content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias velit doloremque eaque ea optio, incidunt, sint maiores omnis, cumque et illum deserunt repellat laudantium, natus iusto architecto aliquid dicta sapiente.</p>
                                            <h5>Dean Sam Winchester - <span style="color: #009688;">Diseñador</span></h5>
                                        </div>
                                    </div>
                                    <div class="testimonial">
                                        <figure>
                                            <img src="images/testimonials/john.jpg" alt="John">
                                        </figure>
                                        <div class="testimonial-content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias velit doloremque eaque ea optio, incidunt, sint maiores omnis, cumque et illum deserunt repellat laudantium, natus iusto architecto aliquid dicta sapiente.</p>
                                            <h5>Dean Sam Winchester - <span style="color: #009688;">Diseñador</span></h5>
                                        </div>
                                    </div>
                                    <div class="testimonial">
                                        <figure>
                                            <img src="images/testimonials/sarah.jpg" alt="Dean">
                                        </figure>
                                        <div class="testimonial-content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias velit doloremque eaque ea optio, incidunt, sint maiores omnis, cumque et illum deserunt repellat laudantium, natus iusto architecto aliquid dicta sapiente.</p>
                                            <h5>Dean Sam Winchester - <span style="color: #009688;">Diseñador</span></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <a href="https://twitter.com/sintracolpen1?lang=es" target="_blank">
                                    <img src="img/twitter.png">
                                </a>
                                <br><br>
                                <a href="https://www.instagram.com/sintracolpen/?hl=es" target="_blank">
                                    <img src="img/instagram.png">
                                </a>
                                <br><br>
                                <a href="https://www.youtube.com/channel/UCca6tePo-yD1tmmoQYJTn1g" target="_blank">
                                    <img src="img/youtube.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="mb40 hidden-xs"></div>

            <div class="container">
                <h2 class="title-underblock dark mb30">Enlaces de interés</h2>
                <div class="team-member-carousel owl-carousel nav-border nav-higher">
                    <a href="https://www.colpensiones.gov.co/" target="_blank" title="Colpensiones - Ven por tu futuro ya">
                        <img src="img/aliados/logoColpensiones.jpg" style="width: 80%">
                    </a>
                    <a href="https://cut.org.co/" target="_blank" title="Central Colombiana de Trabajadores - Colombia">
                        <img src="img/aliados/logoCUT-Colombia.jpg" style="width: 80%;">
                    </a>
                    <a href="http://www.mintrabajo.gov.co/web/guest/inicio" target="_blank" title="Mintrabajo - Paz, Equidad, Educación">
                        <img src="img/aliados/LogoMintrabajo.jpg" style="width: 80%;">
                    </a>
                    <a href="https://www.procuraduria.gov.co/portal/" target="_blank" title="Procuraduría General de la Nación">
                        <img src="img/aliados/logoProcuraduria.jpg" style="width: 80%;">
                    </a>
                    <a href="http://cutbogota.org/" target="_blank" title="Central Colombia de Trabajadores - Bogotá">
                        <img src="img/aliados/logoCUT-Bogota.jpg" style="width: 80%">
                    </a>
                    <a href="http://www.ilo.org/global/lang--es/index.htm" target="_blank" title="Organización Internacional del Trabajo">
                        <img src="img/aliados/logoOIT.jpg" style="width: 80%;">
                    </a>
                    <a href="http://www.ens.org.co/" target="_blank" title="Escuela Nacional Sindical">
                        <img src="img/aliados/logoENS.jpg" style="width: 80%;">
                    </a>
                </div>
            </div>
            <div class="mb40 mb30-xs"></div>

        </div>



        <footer id="footer" role="contentinfo">
            <div id="footer-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="widget">
                                <div class="corporate-widget">
                                    <a href=""><img src="img/logoSintracolpen.png"></a><br><br>
                                    <p><i>Sindicato de Trabajadores de la Administradora Colombiana de Pensiones - SINTRACOLPEN.</i></p>

                                    <address>
                                        <strong>Domicilio Principal: </strong>Calle 4 No. 9-43 <br> Zipaquirá - Cundinamarca<br> 
                                        <strong>Oficina: </strong> 403<br><br>
                                        <strong>Notificaciones: </strong>Carrera 20C No. 72-13 <br> Barrio San Felipe-Bogotá<br>
                                        <strong>Oficina: </strong>207<br><br>
                                        <strong>Correo: </strong> <a href="mailto:sintracolpen@gmail.com">sintracolpen@gmail.com</a><br>
                                        <strong>Teléfono: </strong>3099131
                                    </address>
                                    
                                    <span class="social-icons-label">Síguenos en...</span>
                                    <div class="social-icons">
                                        <a href="https://twitter.com/sintracolpen1?lang=es" target="_blank" class="social-icon icon-twitter" title="Twitter">
                                            <i class="fa fa-twitter sizeIcons-footer" ></i>
                                        </a>
                                        <a href="https://www.instagram.com/sintracolpen/?hl=es" target="_blank" class="social-icon icon-instagram" title="Instagram">
                                            <i class="fa fa-instagram sizeIcons-footer"></i>
                                        </a>
                                        <a href="https://www.youtube.com/channel/UCca6tePo-yD1tmmoQYJTn1g" target="_blank" class="social-icon icon-youtube" title="Youtube">
                                            <i class="fa fa-youtube-play sizeIcons-footer"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="widget">
                                <h4>Boletines Generales</h4>
                                <ul class="latest-posts-list">
                                    <li class="clearfix">
                                        <figure><img src="images/blog/thumbnails/post1.jpg" alt="Nombre del boletin"></figure>
                                        <div class="entry-content">
                                            <h5><a href="#">Lorem ipsum dolor sit amet sine butou.</a></h5>
                                            <p>17/01/2015 - Por <a href="#">Bryan Eon</a></p>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <figure><img src="images/blog/thumbnails/post1.jpg" alt="Nombre del boletin"></figure>
                                        <div class="entry-content">
                                            <h5><a href="#">Quo commodi quidem saepe quos.</a></h5>
                                            <p>12/01/2015 - Por <a href="#">Bryan Eon</a></p>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <figure><img src="images/blog/thumbnails/post1.jpg" alt="Nombre del boletin"></figure>
                                        <div class="entry-content">
                                            <h5><a href="#">Ducimus volupta tibus, alias.</a></h5>
                                            <p>07/01/2015 - Por <a href="#">Bryan Eon</a></p>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <figure><img src="images/blog/thumbnails/post1.jpg" alt="Nombre del boletin"></figure>
                                        <div class="entry-content">
                                            <h5><a href="#">Lorem dolor sit amet vinche mae testai.</a></h5>
                                            <p>01/01/2015 - Por <a href="#">Bryan John</a></p>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <figure><img src="images/blog/thumbnails/post1.jpg" alt="Nombre del boletin"></figure>
                                        <div class="entry-content">
                                            <h5><a href="#">Lorem dolor sit amet vinche mae testai.</a></h5>
                                            <p>01/01/2015 - Por <a href="#">Bryan John</a></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="widget">
                                <a class="twitter-timeline" href="https://twitter.com/Sintracolpen1?ref_src=twsrc%5Etfw" height="450" data-chrome="nofooter">Tweets por Sintracolpen</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6">
                            <ul class="footer-menu">
                                <li><a href="inicio.html">Inicio</a></li>
                                <li><a href="nosotros.html">Nosotros</a></li>
                                <li><a href="afiliate-ya.html">Afiliaciones</a></li>
                                <li><a href="contenidos.html">Contenidos</a></li>
                                <li><a href="preguntas-frecuentes.html">Preguntas</a></li>
                                <li><a href="contactanos.html">Contáctanos</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-md-pull-6">
                            <p class="copyright">
                                <b>Sintracolpen SAS</b><br>
                                &copy; Todos los derechos reservados.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <a href="#top" id="scroll-top" title="Back to Top"><i class="fa fa-angle-up"></i></a>

        <!-- Modal PDF -->
        <div id="verPDF" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <iframe src="https://docs.google.com/viewer?url=http://brasilia.cervantes.es/imagenes/file/biblioteca/pdf/carlos_fuentes_aura.pdf&embedded=true" width="600" height="780"></iframe>
                </div>
            </div>
        </div>

        <div id="verVideo" class="modal fade" role="dialog" onclick="cerrarVideos()">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class='modal-header' style="background: #009688;">
                    <div style="font-size: 20px;">Nuestra organizacion</div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" >&times;</span>
                    </button>
                </div>
                <div class='modal-body'>
                    <div class="embed-container">
                        <iframe id="iframe1" src="" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <script src="js/smoothscroll.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.hoverIntent.min.js"></script>
        <script src="js/jquery.nicescroll.min.js"></script>
        <script src="js/waypoints.min.js"></script>
        <script src="js/waypoints-sticky.min.js"></script>
        <script src="js/jquery.debouncedresize.js"></script>
        <script src="js/retina.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jflickrfeed.min.js"></script>
        <script src="js/twitter/jquery.tweet.min.js"></script>
        <script src="js/jquery.themepunch.tools.min.js"></script>
        <script src="js/jquery.themepunch.revolution.min.js"></script>
        <script src="js/isotope.pkgd.min.js"></script>
        <script src="js/skrollr.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/jquery.knob.min.js"></script>
        <script src="js/jquery.countTo.js"></script>
        <script src="js/jquery.validate.min.js"></script>
        <script src="js/contact.js"></script>
        <script src="js/main.js"></script>
        <script src="js/wow.min.js"></script>

        <script>
            (function () {
                "use strict";
                jQuery('#revslider').revolution({
                    delay:8000,
                    startwidth:1170,
                    startheight:600,
                    fullWidth:"on",
                    fullScreen:"off",
                    hideTimerBar: "on",
                    spinner:"spinner3",
                    navigationStyle: "preview3",
                    soloArrowLeftHOffset:20,
                    soloArrowRightHOffset:20
                });
            }());
        </script>

        <script type="text/javascript">
            window.onscroll = scroll;
            function scroll(){
                if(window.pageYOffset >= 350){
                    $( "#logoHeader" ).removeClass( "marginLogo" ).addClass( "marginLogo2" );    
                    $( "#main-navbar-container" ).removeClass( "marginMenu" ).addClass( "marginMenu2" );         
                }else{
                    $( "#logoHeader" ).removeClass( "marginLogo2" ).addClass( "marginLogo" );
                    $( "#main-navbar-container" ).removeClass( "marginMenu2" ).addClass( "marginMenu" ); 
                }
            }
        </script>

        <script type="text/javascript">
            function llamarModal(){
                $('#iframe1').attr('src', 'https://www.youtube.com/embed/videoseries?list=PLnB1zHr--B8IWhxJTczVF7kuH1boRiAOR');
                $('#verVideo').modal('show'); 
            }
            function cerrarVideos(){
                $('#iframe1').attr('src', ''); 
                $("#verVideo").modal("hide");
            }
        </script>
    	
    </body>
</html>