<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Sintracolpen</title>
        <meta name="description" content="">
        <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700,900,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,400italic,600italic,700italic,600,800,300,700,800italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
        
        <!-- Styles -->
        <link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/revslider/revslider-index11.css">
        <link rel="stylesheet" id="color-scheme" href="css/colors/green.css">
        
        <!-- Favicon -->
        <link rel="icon" type="image/png" href="img/favicon.ico">
        <script src="js/modernizr.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/queryloader2.min.js"></script>
    </head>

    <body>
        <div class="boss-loader-overlay"></div>
        <div id="wrapper" class="bg-gray">
            <header id="header" role="banner">
                <nav class="navbar navbar-default animated-dropdown btt-dropdown" role="navigation">
                    <div class="navbar-top navbar-color clearfix">
                        <div class="container">
                            <div class="pull-right">
                               <div class="social-icons pull-right hidden-xs">
                                    <a href="https://twitter.com/sintracolpen1?lang=es" target="_blank" class="social-icon icon-twitter" title="Twitter">
                                        <i class="fa fa-twitter sizeIcons-header"></i>
                                    </a>
                                    <a href="https://www.instagram.com/sintracolpen/?hl=es" target="_blank" class="social-icon icon-instagram" title="Instagram">
                                        <i class="fa fa-instagram sizeIcons-header"></i>
                                    </a>
                                    <a href="https://www.youtube.com/channel/UCca6tePo-yD1tmmoQYJTn1g" class="social-icon icon-youtube" target="_blank" title="Youtube">
                                        <i class="fa fa-youtube-play sizeIcons-header"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="navbar-inner sticky-menu">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle pull-right collapsed" data-toggle="collapse" data-target="#main-navbar-container">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                </button>

                                <div class="navbar-header">
                                    <a href="inicio.html"><img src="img/logoSintracolpen.png" id="logoHeader" class="pull-left marginLogo"></a>
                                </div>
                            </div>

                            <div class="collapse navbar-collapse marginMenu" id="main-navbar-container">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown active megamenu-container">
                                        <a href="inicio.html">Inicio</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Nosotros<span class="angle"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="dropdown sub-dropdown">
                                                <a href="nosotros.html">Misión - Visión</a>
                                            </li>
                                            <li class="dropdown sub-dropdown">
                                                <a href="nosotros.html">¿Quiénes somos?</a>
                                            </li>
                                            <li class="dropdown sub-dropdown">
                                                <a href="nosotros.html">¿Qué hacemos?</a>
                                            </li>
                                            <li class="dropdown sub-dropdown">
                                                <a href="nosotros.html">Principios Organizacionales</a>
                                            </li>
                                            <li class="dropdown sub-dropdown">
                                                <a href="nosotros.html">Valores Organizacionales</a>
                                            </li>
                                            <li class="dropdown sub-dropdown">
                                                <a href="nosotros.html">Comites, juntas y organismos</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Afiliaciones<span class="angle"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="dropdown sub-dropdown">
                                                <a href="afiliate-ya.html">Afiliate ya!</a>
                                            </li>
                                            <li class="dropdown sub-dropdown">
                                                <a href="nuestros-afiliados.html">Nuestros afiliados</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Contenidos<span class="angle"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="dropdown sub-dropdown">
                                                <a href="boletines-generales.html">Boletines Generales</a>
                                            </li>
                                            <li class="dropdown sub-dropdown">
                                                <a href="comunicados-oficiales.html">Comunicados Oficiales</a>
                                            </li>
                                            <li class="dropdown sub-dropdown">
                                            <li class="dropdown sub-dropdown">
                                                <a href="contenido-sindical.html">Contenido Sindical</a>
                                            </li>
                                            <li class="dropdown sub-dropdown">
                                                <a href="documentos-oficiales.html">Documentos Oficiales</a>
                                            </li>
                                            <li class="dropdown sub-dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Multimedia<span class="angle"></span></a>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="galeria.html">Galería</a></li>
                                                    <li><a href="videos.html">Vídeos</a></li> 
                                                </ul>
                                            </li>
                                            <li class="dropdown sub-dropdown">
                                                <a href="http://cursosvirtualesintracolpen.com/" target="blank">Capacitaciones</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown megamenu-container">
                                        <a href="preguntas-frecuentes.html">Preguntas</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="contactanos.html">Contáctanos</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>

        <div id="content" role="main">
            <div class="page-header dark larger larger-desc no-margin" style="background: #009688; border: none;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Nosotros</h1>
                            <p class="page-header-desc">Frase corta que incite a la lectura de la información SINTRACOLPEN.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb40"></div> 

            <!--¿QUÉ HACEMOS?-->
            <div class="container">
                <div class="row">
                    <!--Que hacemos parte-1-->
                    <div class="col-md-6">
                        <h2 class="title-underblock custom mb30">¿Quiénes somos y qué hacemos?</h2>
                        <p>
                            Somos una Organización Sindical en constante crecimiento, iniciamos con 33 afiliados y hoy somos más de 320 miembros a nivel nacional con presencia en la mayoría de ciudades del país y gran parte de las áreas del nivel central. <br><br>

                            Desde nuestra creación -por parte de 33 compañeros-, nos hemos propuesto como tarea fundamental la construcción de una Organización Sindical que rescate los ideales y principios del sindicalismo moderno. En principio, entendimos que desarrollar la tarea propuesta no sería fácil y que el camino estaría lleno de situaciones de toda índole, de igual manera, pensábamos que sólo con una enorme dosis de paciencia, con un trabajo serio, objetividad y compromiso, lograríamos -tarde o temprano- sortear todas las circunstancias y hasta la fecha así ha sido. <br><br>

                            No obstante, SINTRACOLPEN tiene como pilar fundamental trabajar en la promoción de la dignidad, respeto, trabajo decente y bienestar laboral del trabajador. Es por ello, que el hecho de poder elevar las inquietudes e inconformidades de los trabajadores ante el empleador, el ser escuchados, incluidos, respetados y valorados nos permite creer en la posibilidad de un dialogo social que redunde en beneficios para nuestra organización y para COLPENSIONES. <br><br>
                        </p>
                    </div>

                    <!--Slider-->
                    <div class="col-md-6">
                        <div class="mb70"></div>
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="7000">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="img/galeria/FB_IMG_1508897720617.jpg" class="img-responsive" alt="Slider post 1">
                                </div>
                                <div class="item">
                                    <img src="img/galeria/FB_IMG_1508897720617.jpg" class="img-responsive" alt="Slider post 1">
                                </div>
                                <div class="item">
                                    <img src="img/galeria/FB_IMG_1508897720617.jpg" class="img-responsive" alt="Slider post 1">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>

                <!--Que hacemos parte-2-->
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <br>Así mismo, es nuestro interés que sean equilibrados los derechos económicos de los trabajadores, desarrollar estrategias que prevengan todo conducta de acoso laboral, incentivar el trabajo digno y decente, velar por la trasparencia en los procesos de selección y los despidos sin justa causa que obedezcan a criterios subjetivos y parciales. <br><br>

                            De igual forma, SINTRACOLPEN como actor activo dentro del entorno en el que se desenvuelve la Administradora de Pensiones ejerce veeduría sobre los recursos de los colombianos. Es nuestra responsabilidad que los recursos financieros que recibe COLPENSIONES para la administración y sostenibilidad del régimen público cumpla con lo descrito en la normatividad y gasto propendiendo la optimización y rentabilidad que esperan todos los colombianos.
                        </p>
                    </div>
                </div>
            </div>

            <div class="mb40"></div>

            <!--MISIÓN - VISIÓN -->
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="title-underblock custom mb30">Misión</h2>
                        <p>En SINTRACOLPEN promovemos el bienestar integral y la estabilidad laboral de los trabajadores, mediante acciones tendientes a satisfacer las necesidades laborales y sociales, guardando fidelidad a nuestros principios y valores.</p>
                    </div>

                    <div class="col-md-6">
                        <h2 class="title-underblock custom mb30">Visión</h2>
                        <p>Ser una organización sindical consolidada y reconocida en Colombia, de carácter democrático, pluralista, multiétnico, respetuoso de la libertad de conciencia y de cultos, que centra sus ideales y acciones en la búsqueda permanente del bienestar laboral, que promueve el trabajo digno y decente y que busca ser participe de cada escenario nacional e internacional donde se promueva la defensa de los derechos laborales y sociales de los trabajadores en general. </p>
                    </div>
                </div>
            </div>

            <div class="mb40"></div>

            <!--PRINCIPIOS ORGANIZACIONALES-->
            <div class="bg-lightgray pt70 pb20">
                <div class="container">
                    <div class="row">
                        <h2 class="title-underblock custom mb30">Principios organizacionales</h2>
                        <p >Los principios son la base regulatoria que orienta el comportamiento de una organización y en consecuencia de cada uno de los que a ella pertenecen y son los que permiten generar identidad y la fuente primaria de las decisiones, por ello declaramos como Principios de SINTRACOLPEN los siguientes:</p>
                        <br><br>

                        <div class="col-sm-4">
                            <div class="service">
                                <span class="service-icon first-color"><i class="icon-energy"></i></span>
                                <div class="service-content">
                                    <h3 class="service-title text-uppercase first-color">Dinamismo</h3>
                                    <p>Actuando de manera consecuente con el momento histórico, comprometiéndonos a efectuar los cambios que se requieran reduciendo la resistencia al cambio a través de las discusiones razonables y objetivas.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="service">
                                <span class="service-icon first-color"><i class="icon-puzzle"></i></span>
                                <div class="service-content">
                                    <h3 class="service-title text-uppercase first-color">Responsabilidad</h3>
                                    <p>Se hace en dos órdenes, frente a los trabajadores asociados y los no asociados y frente a la Empresa, asumiendo las consecuencias de nuestros actos, pero ante todo ponderando las repercusiones de nuestras decisiones y sus implicaciones.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="service">
                                <span class="service-icon first-color"><i class="icon-heart"></i></span>
                                <div class="service-content">
                                    <h3 class="service-title text-uppercase first-color">Democracia participativa</h3>
                                    <p>Se define como esa capacidad de la organización que permite mantener la titularidad del poder en la totalidad de sus miembros, haciendo que la toma de decisiones responda a la voluntad colectiva de los miembros del grupo sin marginar y tomando en la cuenta las opiniones minoritarias para darles espacios de interacción.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="service">
                                <span class="service-icon first-color"><i class="icon-bubble"></i></span>
                                <div class="service-content">
                                    <h3 class="service-title text-uppercase first-color">Unidad</h3>
                                    <p>Reconociendo que somos una organización en la cual se conjugan la protección y la defensa de los derechos de los trabajadores, pero también la protección y defensa de lo que representa para la Nación una empresa pública como COLPENSIONES, esta unidad nos exige debate, explicación, respeto por lo que creemos y por lo que hacemos.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="service">
                                <span class="service-icon first-color"><i class="icon-inicio"></i></span>
                                <div class="service-content">
                                    <h3 class="service-title text-uppercase first-color">Solidaridad</h3>
                                    <p>Es la base de la existencia de nuestra organización sindical, por la cual cada individuo del grupo, desarrolla sus capacidades y goza de sus derechos, colaborando con los demás integrantes de la asociación, para desarrollarse en comunidad y armonía, logrando no solo su plenitud personal sino la de sus semejantes. Se basa en el principio de ayuda mutua y de la capacidad de ponernos en la situación de los demás que genera la fuerza para hacer cambios.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--VALORES ORGANIZACIONALES-->
            <div class="bg-custom pt70 pb15 pt60-xs pb15-xs">
                <div class="container">
                    <div class="row">
                        <h2 class="title-underblock custom mb30 text-gray">Valores organizacionales</h2>
                        <p>Los valores son el marco de referencia de nuestra forma de crear cultura organizacional, son acuerdos irrompibles que están al interior de nuestros asociados como conceptos, costumbres, actuaciones y actitudes que son nuestro anhelo legítimo por ser reconocidos por una forma de ser que nunca será negociable.</p>
                        <br><br>

                        <div class="col-sm-4">
                            <div class="service">
                                <span class="service-icon"><i class="icon-energy"></i></span>
                                <div class="service-content">
                                    <h3 class="service-title text-uppercase text-gray">Empatía</h3>
                                    <p>Es la capacidad de ponernos en la situación del otro y actuar de conformidad con el interés general y no con el interés personal.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="service">

                                <span class="service-icon"><i class="icon-puzzle"></i></span>
                                <div class="service-content">
                                    <h3 class="service-title text-uppercase text-gray">Honestidad</h3>
                                    <p>Es el actuar decente, recatado, pudoroso, razonable, justo, probo, y recto que nos permite tomar decisiones y asumir las consecuencias con la tranquilidad de hacerlo con transparencia.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="service">
                                <span class="service-icon"><i class="icon-heart"></i></span>
                                <div class="service-content">
                                    <h3 class="service-title text-uppercase text-gray">Reflexión</h3>
                                    <p>Es la capacidad para tener en consideración todas las aristas posibles de un objeto de estudio, meditando y pensando al respecto despojados de intereses personales y analizando dicho objeto buscando el bienestar.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="service">
                                <span class="service-icon"><i class="icon-bubble"></i></span>
                                <div class="service-content">
                                    <h3 class="service-title text-uppercase text-gray">Compromiso</h3>
                                    <p>Es la capacidad que permite que nuestros asociados entreguen todo de sí mismos para lograr sus objetivos, los objetivos de SINTRACOLPEN y especialmente para ayudar a mantener la permanencia en el tiempo de la Administradora de Pensiones de los Colombianos – COLPENSIONES-.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="service">
                                <span class="service-icon"><i class="icon-inicio"></i></span>
                                <div class="service-content">
                                    <h3 class="service-title text-uppercase text-gray">Trabajo</h3>
                                    <p>Es la capacidad de transformar con nuestro hacer y generar valor agregado a lo que hacemos, entendiendo que nuestra actividad productiva se recompensa no solo con nuestro salario, sino con la transformación de COLPENSIONES como la mejor entidad pública del País y la satisfacción de nuestros ciudadanos.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb80 mb40-sm"></div>

            <div class="container">
                    <div id="carousel-tabs" class="carousel carousel-tab smaller slide" data-ride="carousel" data-interval="12000">
                        <!-- Indicators -->
                        <ol class="carousel-indicators mb45">
                            <li data-target="#carousel-tabs" data-slide-to="0" class="active">
                                <i class="icon-inicio"></i>
                                <span>Organismos<br> de Dirección</span>
                            </li>
                            <li data-target="#carousel-tabs" data-slide-to="1">
                                <i class="icon-bubbles"></i>
                                <span>Junta Directiva<br> Nacional</span>
                            </li>
                            <li data-target="#carousel-tabs" data-slide-to="2">
                                <i class="icon-badge"></i>
                                <span>Cómite Seccional<br> Bucaramanga</span>
                            </li>
                            <li data-target="#carousel-tabs" data-slide-to="3">
                                <i class="icon-action-redo"></i>
                                <span>Junta Directiva<br> Seccional Bogotá</span>
                            </li>
                        </ol>
                        
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="visible-md visible-lg"></div>
                                        <img src="img/juntadirectiva.jpg" alt="Organismos de Dirección" class="img-responsive center-block wow fadeInUp mb30">
                                    </div>
                                    <div class="col-md-6">
                                        <h2 class="title-border title-bg-line gray"><span>Organismos de Dirección</span></h2>
                                        <p>
                                            Los organismos de dirección de nuestra organización sindical, en su orden jerárquico son:<br><br>
                                            1.  Asamblea General de Afiliados <br>
                                            2.  Junta Directiva Nacional <br>
                                            3.  Asambleas Subdirectivas Seccionales <br>
                                            4.  Juntas Directivas Seccionales <br>
                                            5.  Asambleas Comités Seccionales <br>
                                            6.  Juntas Directivas Comités Seccionales <br>
                                            7.  Comisión Nacional de Reclamos
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="visible-md visible-lg"></div>
                                        <img src="img/juntadirectiva.jpg" alt="Junta Directiva Nacional" width="80%" class="img-responsive center-block wow fadeInUp mb30">
                                    </div>
                                    <div class="col-md-6">
                                        <h2 class="title-border title-bg-line gray"><span>Junta Directiva Nacional</span></h2>
                                        <p>
                                           Según los Estatutos del Sindicato de Trabajadores de la Administradora de Pensiones COLPENSIONES – SINTRACOLPEN – la Junta Directiva se encuentra organizada de acuerdo a lo establecido en el ARTÍCULO 14º, integrada por diez (10) miembros (1) Presidente, (1) Vicepresidente, (1) Secretaria General, (1) Tesorero General, (1) Fiscal Nacional, (1) Coordinador(a) de Asuntos Jurídicos y Bienestar Laboral, (1) Coordinación(a) de Gestión Administrativa y Bienestar, (1) Coordinador(a) de Comunicaciones, (1) Coordinador(a) de Capacitación Sindical y  Derechos Humanos, (1) Coordinador(a) Nacional de afiliaciones y la Comisión de Reclamos integrada por dos (2) miembros.<br><br>

                                           <b>Propósito:</b> Establecer los criterios y procesos para el manejo de las relaciones con los afiliados, trabajadores, empleador, las diferentes instancias del sindicato y con otras organizaciones sindicales y sociales.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="visible-md visible-lg"></div>
                                        <img src="img/juntadirectiva.jpg" alt="Junta Directiva Nacional" width="80%" class="img-responsive center-block wow fadeInUp mb30">
                                    </div>
                                    <div class="col-md-6">
                                        <h2 class="title-border title-bg-line gray"><span>Junta Directiva Nacional</span></h2>
                                         <p>
                                            La Junta Directiva Seccional Bogotá, integrada por diez (10) miembros un (1) Presidente, un (1) Vicepresidente, un (1) Secretario General, un (1) Tesorero, uno (1) fiscal, y cinco (5) miembros suplentes quienes serán organizados internamente conforme sus necesidades a través de coordinaciones.<br><br>
                                            <b>Propósito:</b> Promover espacios de acompañamiento, seguimiento y apoyo en las relaciones con el empleador, encaminadas a lograr el bienestar general de los trabajadores y sus familias.

                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="visible-md visible-lg"></div>
                                        <img src="img/juntadirectiva.jpg" alt="Cómite Seccional Bucaramanga" class="img-responsive center-block wow fadeInUp mb30">
                                    </div>
                                    <div class="col-md-6">
                                        <h2 class="title-border title-bg-line gray"><span>Cómite Seccional Bucaramanga</span></h2>
                                        <p>
                                            El comité Seccional de Bucaramanga integrado por cinco (5) miembros:<br><br>
                                            1. Un Presidente <br>
                                            2. Un Vicepresidente <br>
                                            3. Un Tesorero <br>
                                            4. Un Secretario General <br>
                                            5. Un Fiscal
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="mb50"></div>

            <div class="container">
                <h2 class="title-underblock dark mb30">Enlaces de interés</h2>
                <div class="team-member-carousel owl-carousel nav-border nav-higher">
                    <a href="https://www.colpensiones.gov.co/" target="_blank" title="Colpensiones - Ven por tu futuro ya">
                        <img src="img/aliados/logoColpensiones.jpg" style="width: 80%">
                    </a>
                    <a href="https://cut.org.co/" target="_blank" title="Central Colombiana de Trabajadores - Colombia">
                        <img src="img/aliados/logoCUT-Colombia.jpg" style="width: 80%;">
                    </a>
                    <a href="http://www.mintrabajo.gov.co/web/guest/inicio" target="_blank" title="Mintrabajo - Paz, Equidad, Educación">
                        <img src="img/aliados/LogoMintrabajo.jpg" style="width: 80%;">
                    </a>
                    <a href="https://www.procuraduria.gov.co/portal/" target="_blank" title="Procuraduría General de la Nación">
                        <img src="img/aliados/logoProcuraduria.jpg" style="width: 80%;">
                    </a>
                    <a href="http://cutbogota.org/" target="_blank" title="Central Colombia de Trabajadores - Bogotá">
                        <img src="img/aliados/logoCUT-Bogota.jpg" style="width: 80%">
                    </a>
                    <a href="http://www.ilo.org/global/lang--es/index.htm" target="_blank" title="Organización Internacional del Trabajo">
                        <img src="img/aliados/logoOIT.jpg" style="width: 80%;">
                    </a>
                    <a href="http://www.ens.org.co/" target="_blank" title="Escuela Nacional Sindical">
                        <img src="img/aliados/logoENS.jpg" style="width: 80%;">
                    </a>
                </div>
            </div>
            <div class="mb40 mb30-xs"></div>
        </div>

        <footer id="footer" role="contentinfo">
            <div id="footer-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="widget">
                                <div class="corporate-widget">
                                    <a href=""><img src="img/logoSintracolpen.png"></a><br><br>
                                    <p><i>Sindicato de Trabajadores de la Administradora Colombiana de Pensiones - SINTRACOLPEN.</i></p>

                                    <address>
                                        <strong>Domicilio Principal: </strong>Calle 4 No. 9-43 <br> Zipaquirá - Cundinamarca<br> 
                                        <strong>Oficina: </strong> 403<br><br>
                                        <strong>Notificaciones: </strong>Carrera 20C No. 72-13 <br> Barrio San Felipe-Bogotá<br>
                                        <strong>Oficina: </strong>207<br><br>
                                        <strong>Correo: </strong> <a href="mailto:sintracolpen@gmail.com">sintracolpen@gmail.com</a><br>
                                        <strong>Teléfono: </strong>3099131
                                    </address>
                                    
                                    <span class="social-icons-label">Síguenos en...</span>
                                    <div class="social-icons">
                                        <a href="https://twitter.com/sintracolpen1?lang=es" target="_blank" class="social-icon icon-twitter" title="Twitter">
                                            <i class="fa fa-twitter sizeIcons-footer" ></i>
                                        </a>
                                        <a href="https://www.instagram.com/sintracolpen/?hl=es" target="_blank" class="social-icon icon-instagram" title="Instagram">
                                            <i class="fa fa-instagram sizeIcons-footer"></i>
                                        </a>
                                        <a href="https://www.youtube.com/channel/UCca6tePo-yD1tmmoQYJTn1g" target="_blank" class="social-icon icon-youtube" title="Youtube">
                                            <i class="fa fa-youtube-play sizeIcons-footer"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="widget">
                                <h4>Boletines Generales</h4>
                                <ul class="latest-posts-list">
                                    <li class="clearfix">
                                        <figure><img src="images/blog/thumbnails/post1.jpg" alt="Nombre del boletin"></figure>
                                        <div class="entry-content">
                                            <h5><a href="#">Lorem ipsum dolor sit amet sine butou.</a></h5>
                                            <p>17/01/2015 - Por <a href="#">Bryan Eon</a></p>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <figure><img src="images/blog/thumbnails/post1.jpg" alt="Nombre del boletin"></figure>
                                        <div class="entry-content">
                                            <h5><a href="#">Quo commodi quidem saepe quos.</a></h5>
                                            <p>12/01/2015 - Por <a href="#">Bryan Eon</a></p>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <figure><img src="images/blog/thumbnails/post1.jpg" alt="Nombre del boletin"></figure>
                                        <div class="entry-content">
                                            <h5><a href="#">Ducimus volupta tibus, alias.</a></h5>
                                            <p>07/01/2015 - Por <a href="#">Bryan Eon</a></p>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <figure><img src="images/blog/thumbnails/post1.jpg" alt="Nombre del boletin"></figure>
                                        <div class="entry-content">
                                            <h5><a href="#">Lorem dolor sit amet vinche mae testai.</a></h5>
                                            <p>01/01/2015 - Por <a href="#">Bryan John</a></p>
                                        </div>
                                    </li>
                                    <li class="clearfix">
                                        <figure><img src="images/blog/thumbnails/post1.jpg" alt="Nombre del boletin"></figure>
                                        <div class="entry-content">
                                            <h5><a href="#">Lorem dolor sit amet vinche mae testai.</a></h5>
                                            <p>01/01/2015 - Por <a href="#">Bryan John</a></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="widget">
                                <a class="twitter-timeline" href="https://twitter.com/Sintracolpen1?ref_src=twsrc%5Etfw" height="450" data-chrome="nofooter">Tweets por Sintracolpen</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6">
                            <ul class="footer-menu">
                                <li><a href="inicio.html">Inicio</a></li>
                                <li><a href="nosotros.html">Nosotros</a></li>
                                <li><a href="afiliate-ya.html">Afiliaciones</a></li>
                                <li><a href="contenidos.html">Contenidos</a></li>
                                <li><a href="preguntas-frecuentes.html">Preguntas</a></li>
                                <li><a href="contactanos.html">Contáctanos</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-md-pull-6">
                            <p class="copyright">
                                <b>Sintracolpen SAS</b><br>
                                &copy; Todos los derechos reservados.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <a href="#top" id="scroll-top" title="Back to Top"><i class="fa fa-angle-up"></i></a>

    <script src="js/smoothscroll.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.hoverIntent.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/waypoints-sticky.min.js"></script>
    <script src="js/jquery.debouncedresize.js"></script>
    <script src="js/retina.min.js"></script>
    <script src="js/twitter/jquery.tweet.min.js"></script>
    <script src="js/jflickrfeed.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.kwicks.min.js"></script>
    <script src="js/skrollr.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/mediaelement-and-player.min.js"></script>
    <script src="js/main.js"></script>

    <script type="text/javascript">
        window.onscroll = scroll;
        function scroll(){
            if(window.pageYOffset >= 350){
                $( "#logoHeader" ).removeClass( "marginLogo" ).addClass( "marginLogo2" );    
                $( "#main-navbar-container" ).removeClass( "marginMenu" ).addClass( "marginMenu2" );         
            }else{
                $( "#logoHeader" ).removeClass( "marginLogo2" ).addClass( "marginLogo" );
                $( "#main-navbar-container" ).removeClass( "marginMenu2" ).addClass( "marginMenu" ); 
            }
        }
    </script>
    
    </body>
</html>

